@using AdminProject.Infrastructure.Models
@using AdminProject.Services.Models
@model ProductSearchDto

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "List";
}

<div class="content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="nest">
                <div class="title-alt">
                    <h6>
                        Product Search
                    </h6>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#searchJob">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="searchJob">
                    <form action="/Admin/Product/List" method="get">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(model => model.Code, new { placeholder = "Stock Code", @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Name, new { placeholder = "Product Name", @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Price, new { placeholder = "Price", @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Url, new { placeholder = "Url", @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.Take, (SelectList)ViewBag.TakeList, new { @class = "form-control" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DropDownListFor(model => model.ProductType, (SelectList)ViewBag.ProductList, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.StockType, (SelectList)ViewBag.StockList, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.Status, (SelectList)ViewBag.StatusList, new { @class = "form-control" })
                                    </td>
                                    <td></td>
                                    <td><button type="submit" class="btn btn-success">Search</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="nest" id="FootableClose">
                <div class="title-alt">
                    <h6>
                        Products
                    </h6>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#Footable">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="Footable">
                    <table class="table footable metro-blue">
                        <thead>
                            <tr>
                                <th>
                                    Stock Code
                                </th>
                                <th>
                                    Stock Type
                                </th>
                                <th>
                                    Product Type
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Discount (%)
                                </th>
                                <th>
                                    Stock Nr
                                </th>
                                <th>
                                    Url
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    #
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var product in ((PagerList<Product>)ViewBag.ProductPagerList).List)
                                {
                                    <tr>
                                        <td>@product.Code</td>
                                        <td>@product.StockType</td>
                                        <td>@product.ProductType</td>
                                        <td>@product.Name</td>
                                        <td>@product.Price.ToString("0.00")</td>
                                        <td>@product.DiscountOdd</td>
                                        <td>@product.StockNr</td>
                                        <td>@product.Url</td>
                                        <td>
                                            <span class="@(product.Status == AdminProject.Models.StatusTypes.Active ? "status-metro status-active" : "status-metro status-suspended")">
                                                @(product.Status == AdminProject.Models.StatusTypes.Active ? "Active" : "Deactive")
                                            </span>
                                        </td>
                                        <td style="width: 150px;">
                                            <a href="/Admin/Product/Edit/@product.Id">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="/Admin/Product/Delete/@product.Id" onclick="return confirm('Are you sure you want to continue?')">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <div class="pagination pagination-centered">
                                        <ul>
                                            @{
                                                var recordCount = ((PagerList<Product>)ViewBag.ProductPagerList).TotalCount;
                                                var pageCount = recordCount/Model.Take + 1;

                                                var url = ViewBag.UrlAddress;
                                                for (var i = 1; i < pageCount + 1; i++)
                                                {
                                                    <li class="footable-page">
                                                        <a href="@string.Format("{0}&Skip={1}", url, i)">@(i)</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div style="float: right; color:black;">
                                        There are @recordCount records in total.
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>