@model IEnumerable<AdminProject.Infrastructure.Models.Campaign>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "List";
}

<div class="content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="nest" id="FootableClose">
                <div class="title-alt">
                    <h6>
                        Campaigns
                    </h6>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#Footable">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="Footable">
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-sm-2 pull-right">
                            <input class="form-control" id="filter" placeholder="Search..." type="text">
                        </div>
                    </div>
                    <table class="table-striped footable-res footable metro-blue" data-page-size="20" data-filter="#filter" data-filter-text-only="true">
                        <thead>
                            <tr>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Code
                                </th>
                                <th>
                                    Criterion
                                </th>
                                <th>
                                    Limit
                                </th>
                                <th>
                                    Odd
                                </th>
                                <th>
                                    Start Date
                                </th>
                                <th>
                                    End Date
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    #
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var campaign in Model)
                                {
                                    <tr>
                                        <td>@campaign.CampaignType</td>
                                        <td>@campaign.Name</td>
                                        <td>@campaign.Code</td>
                                        <td>@campaign.DiscountAmountCriterion</td>
                                        <td>@campaign.DiscountLimit</td>
                                        <td>@campaign.DiscountOdd</td>
                                        <td>@campaign.StartDate.ToString("dd.MM.yyyy")</td>
                                        <td>@campaign.EndDate.ToString("dd.MM.yyyy")</td>
                                        <td>
                                            <span class="@(campaign.Status == AdminProject.Models.StatusTypes.Active ? "status-metro status-active" : "status-metro status-suspended")">
                                                @(campaign.Status == AdminProject.Models.StatusTypes.Active ? "Active" : "Deactive")
                                            </span>
                                        </td>
                                        <td style="width:150px;">
                                            <a href="/Admin/Campaign/Edit/@campaign.Id">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="/Admin/Campaign/Delete/@campaign.Id" onclick="return confirm('Are you sure you want to continue?')">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <div class="pagination pagination-centered"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>